body {
  background-color: #f2f2f2;
}

.checkout-page {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
  letter-spacing: .2rem;
}

.checkout-page .checkout-page-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}

.checkout-page .checkout-page-heading .page-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

@media screen and (max-width: 860px) {
  .checkout-page .checkout-page-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.checkout-page .checkout-container {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 860px) {
  .checkout-page .checkout-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.checkout-page .checkout-container .checkout-info {
  width: 90%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  overflow-y: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@media screen and (max-width: 860px) {
  .checkout-page .checkout-container .checkout-info {
    width: 100%;
  }
}

.checkout-page .checkout-container .checkout-info::-webkit-scrollbar {
  display: none;
}

.checkout-page .checkout-container .checkout-info > div {
  background-color: white;
  padding: 30px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkout-page .checkout-container .checkout-info > div > h2 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.checkout-page .checkout-container .checkout-info > .disabled {
  background-color: transparent;
  border: 2px solid var(--dark-gray);
}

.checkout-page .checkout-container .checkout-info > .disabled > h2 {
  color: var(--dark-gray);
  margin-bottom: 0px;
}

.checkout-page .checkout-container .checkout-info .info-country > h2 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.checkout-page .checkout-container .checkout-info .info-country .country-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout-page .checkout-container .checkout-info .info-country .country-input > img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.checkout-page .checkout-container .checkout-info .info-country .country-input > select {
  padding: 10px;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .heading {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .heading > h2 {
  font-size: 0.9rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 700;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .heading > * {
  pointer-events: none;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  width: 100%;
  height: unset;
  overflow: hidden;
  -webkit-transition: height .2s ease-out;
  transition: height .2s ease-out;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible .tab-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.9rem;
  width: 100%;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible .tab-selector .tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible .tab-selector .tab > * {
  pointer-events: none;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible .tab-selector .selected {
  border: 1px solid black;
  border-bottom: none;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible .hide {
  display: none;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible .tab-details {
  margin-top: 30px;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible .tab-details .action-instruction {
  font-weight: 700;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible .tab-details .item-input {
  margin-top: 20px;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible .tab-details .item-input > label {
  font-weight: 700;
  color: var(--dark-gray);
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible .tab-details .item-input .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible .tab-details .item-input .input-container > input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible .tab-details .item-input .input-container > .apply-button {
  padding: 10px 25px;
  background-color: var(--extra-dark);
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible .tab-details .item-input .input-container > .apply-button:hover {
  background-color: black;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible .tab-details .info {
  margin-top: 30px;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible .tab-details .info ul {
  margin-left: 20px;
  margin-top: 20px;
}

.checkout-page .checkout-container .checkout-info .promo-voucher .collapsible .tab-details .info ul li {
  margin-bottom: 15px;
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
  font-size: 0.9rem;
  color: var(--extra-dark);
}

.checkout-page .checkout-container .checkout-info .promo-voucher.collapsed .collapsible {
  height: 0px;
  padding-top: 0px;
}

.checkout-page .checkout-container .checkout-info .email > p {
  font-size: 0.9rem;
  letter-spacing: 0.09rem;
}

.checkout-page .checkout-container .checkout-info .delivery-address > h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.checkout-page .checkout-container .checkout-info .delivery-address .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}

.checkout-page .checkout-container .checkout-info .delivery-address .input-container label {
  font-weight: bold;
  color: #3a3a3a;
}

.checkout-page .checkout-container .checkout-info .delivery-address .input-container > input {
  padding: 10px;
}

.checkout-page .checkout-container .checkout-info .delivery-address .submit-button {
  padding: 10px 20px;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  background-color: var(--extra-dark);
  cursor: pointer;
  letter-spacing: .2rem;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
}

.checkout-page .checkout-container .checkout-info .delivery-address .submit-button:hover {
  background-color: black;
}

.checkout-page .checkout-container .checkout-info .delivery-address .error > input {
  border: 1px solid red;
}

.checkout-page .checkout-container .checkout-info .delivery-address .error .error {
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.1);
  letter-spacing: 0.09rem;
  border: 1px solid red;
  position: relative;
}

.checkout-page .checkout-container .checkout-info .delivery-address .error .error::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: rgba(255, 0, 0, 0.1);
  -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
          clip-path: polygon(50% 0, 100% 100%, 0 100%);
  width: 10px;
  height: 10px;
}

.checkout-page .checkout-container .checkout-info .place-order-btn {
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #78d8ab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-decoration: none;
  width: 90%;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 30px;
}

.checkout-page .checkout-container .checkout-info .terms {
  background-color: transparent;
  width: 90%;
  padding-left: 0px;
}

.checkout-page .checkout-container .item-info {
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

@media screen and (max-width: 860px) {
  .checkout-page .checkout-container .item-info {
    position: unset;
    width: 100%;
  }
}

.checkout-page .checkout-container .item-info .info-heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray);
}

.checkout-page .checkout-container .item-info .info-heading > h2 {
  font-weight: 700;
  font-size: 1rem;
}

.checkout-page .checkout-container .item-info .info-heading > a {
  color: black;
  text-decoration: none;
  letter-spacing: 0.09rem;
}

.checkout-page .checkout-container .item-info .items {
  padding: 20px 10px;
}

.checkout-page .checkout-container .item-info .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

.checkout-page .checkout-container .item-info .items .item .item-details {
  font-size: 0.8rem;
  letter-spacing: 0.09rem;
}

.checkout-page .checkout-container .item-info .items .item .item-details > p {
  margin-bottom: 7px;
}

.checkout-page .checkout-container .item-info .price {
  padding-top: 20px;
  border-top: 1px solid var(--gray);
}

.checkout-page .checkout-container .item-info .price > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout-page .checkout-container .item-info .price .subtotal {
  margin-bottom: 15px;
}

.checkout-page .checkout-container .item-info .price .total > span {
  font-weight: 700;
}
/*# sourceMappingURL=checkout.css.map */